<nav class="nav-home">
    <ul class="list">
            <li class="item">
                <a class="link" href="{{ site.url }}/">Accueil</a>
            </li>

            <li class="item">
                <a class="link" href="{{ site.url }}/formations">Formations</a>
            </li>

            <li class="item">
                <a class="link" href="{% if site.resume-external %}{{ site.resume-url }}{% else %}{{ site.url }}/{{ site.resume-url }}{% endif %}">CV</a>
            </li>
    </ul>
</nav>
