<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% assign title = '' %}
    {% if page.layout == 'author' %}
        {% assign title = page.display_name %}
    {% elsif page.title %}
        {% assign title = page.title | append: " | " | append: site.name %}
    {% else %}
        {% assign title = site.title %}
    {% endif %}

    {% assign image = '' %}
    {% if page.image %}
        {% assign image = page.image %}
    {% else %}
        {% assign image = "/assets/img/blog-image.png" | prepend: site.baseurl | prepend: site.url %}
    {% endif %}

    {% assign description = '' %}
    {% if page.description %}
        {% assign description = page.description | strip_html | strip_newlines | truncate: 160 %}
    {% else %}
        {% assign description = site.description %}
    {% endif %}

    {% assign url = '' %}
    {% if paginator.page_trail %}
        {% assign url = paginator.first_page_path | replace:'index.html','' | prepend: site.baseurl | prepend: site.url %}
    {% else %}
        {% assign url = page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url %}
    {% endif %}

    <title>Frédéric CANAUD</title>
    <meta name="description" content="Site web portfolio inspiré de l'interface de Netflix">
    <meta name="image" property="og:image" content="https://fredericcanaud.github.io/assets/img/uploads/photo1.jpg">
    {% if page.tags %}
        <meta name="keywords" content="{{ page.tags | join: ', ' }}">
    {% endif %}

    <meta property="og:url" content="{{ url }}">
    <meta property="og:title" content="Frédéric CANAUD">
    <meta property="og:image" content="https://fredericcanaud.github.io/assets/img/uploads/photo1.jpg">
    <meta property="og:description" content="Site web portfolio inspiré de l'interface de Netflix">
    <meta property="og:site_name" content="Frédéric CANAUD">

    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | prepend: site.baseurl }}">
    <link rel="preload" href="{{ '/assets/css/fonts.css' | prepend: site.baseurl }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="{{ '/assets/css/fonts.css' | prepend: site.baseurl }}"></noscript>
    <link rel="canonical" href="{{ url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ '/feed.xml' | prepend: site.baseurl | prepend: site.url }}" />

    {% include extra-css.html %}

    <script>
        document.querySelector('html').classList.remove('no-js');
    </script>
</head>
